<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Shopping-System</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>handleCharacter</servlet-name>
    <servlet-class>control.handleCharacter</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>handleCustomerPage</servlet-name>
    <servlet-class>control.HandlecustomerPage</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>handleSearchGood</servlet-name>
    <servlet-class>control.handleSearchGood</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>handleDisplayAllGoodsPage</servlet-name>
    <servlet-class>control.handleDisplayAllGoodsPage</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>handlePurchaseGood</servlet-name>
    <servlet-class>control.handlePurchaseGood</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>handleSignUp</servlet-name>
    <servlet-class>control.handleSignUp</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>handleSignIn</servlet-name>
    <servlet-class>control.handleSignIn</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>handleAddGood</servlet-name>
    <servlet-class>control.handleAddGood</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>handleUpdateGood</servlet-name>
    <servlet-class>control.handleUpdateGood</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>handleDeleteGood</servlet-name>
    <servlet-class>control.handleDeleteGood</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>handleChangePassword</servlet-name>
    <servlet-class>control.HandleChangePassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>handleCharacter</servlet-name>
    <url-pattern>/character</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>handleCustomerPage</servlet-name>
    <url-pattern>/customer</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>handleSearchGood</servlet-name>
    <url-pattern>/goodsearch</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>handleDisplayAllGoodsPage</servlet-name>
    <url-pattern>/DisplayAllGoodsPage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>handlePurchaseGood</servlet-name>
    <url-pattern>/goodtobuy</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>handleSignUp</servlet-name>
    <url-pattern>/sign_up</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>handleSignIn</servlet-name>
    <url-pattern>/sign_in</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>handleAddGood</servlet-name>
    <url-pattern>/addgood</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>handleUpdateGood</servlet-name>
    <url-pattern>/update_good</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>handleDeleteGood</servlet-name>
    <url-pattern>/delete_good</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>handleChangePassword</servlet-name>
    <url-pattern>/change_password</url-pattern>
  </servlet-mapping>
</web-app>